body {
  display: flex;
}
.game-container {
  width: 500px;
  height: 730px;
  position: absolute;
  left: 80px;
}
.border-left,
.border-right,
.border-top {
  background-color: white;
  position: absolute;
  z-index: 2;
}
.border-left {
  width: 80px;
  height: 790px;
}
.border-right {
  width: 80px;
  height: 790px;
  left: 580px;
}
.border-top {
  width: 660px;
  height: 50px;
  top: -50px;
}
.sky {
  background-image: url("asset/fb-game-background.png");
  width: 500px;
  height: 580px;
  position: absolute;
}
.ground-moving {
  position: absolute;
  top: 580px;
  height: 150px;
  background-image: url("asset/bottom-background.png");
  background-repeat: repeat-x;
  animation: slideright 100s infinite linear;
  -webkit-animation: slideright 100s infinite linear;
  width: 100%;
  z-index: 1;
}
.bird {
  background-image: url("asset/flappy-bird.png");
  position: absolute;
  width: 60px;
  height: 45px;
  left: 220px;
  bottom: 100px;
  z-index: 3; /* Ensure the bird is on top of other elements */
}
.obstacle,
.topObstacle {
  background-image: url("asset/flappybird-pipe.png");
  width: 60px;
  height: 300px;
  position: absolute;
  z-index: 2;
}
.topObstacle {
  transform: rotate(180deg);
}
@keyframes slideright {
  from {
      background-position: 10000%;
  }
  to {
      background-position: 0%;
  }
}
@-webkit-keyframes slideright {
  from {
      background-position: 10000%;
  }
  to {
      background-position: 0%;
  }
}